{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

<header class="block-header">
    <div class="question-block-header">
        <p class="question-name">
            <h2>New question</h2>
        </p> 
    </div>
</header>
<div class="error">Sorry, but error...</div>
<div class="add-answer-block">
    <table class="add-answer-table">
        <tbody>
            <tr class="add-answer-table-item">
                <td class="add-answer-table-item-name">Title</td>
                <td class="add-answer-table-item-textfield">
                    <input class="form-control" type="text" placeholder="Login" aria-label="default input example">
                </td>
            </tr>
            <tr class="add-answer-table-item">
                <td class="add-answer-table-item-name">Text</td>
                <td class="add-answer-table-item-textfield">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </td>
            </tr>
            <tr class="add-answer-table-item">
                <td class="add-answer-table-item-name">Tags</td>
                <td class="add-answer-table-item-textfield">
                    <input class="form-control" type="text" placeholder="Login" aria-label="default input example">
                </td>
            </tr>
            <tr class="add-answer-table-item">
                <td class="add-answer-table-item-name"></td>
                <td class="add-answer-table-item-textfield">
                    <button type="submit" class="btn btn-primary">Ask!</button>
                </td>
            </tr>
            
        </tbody>
    </table>    
</div>

{% endblock %}