{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

<header class="block-header">
    <div class="question-block-header">
        <div class="login-header">
            <h2>Log In</h2>
        </div> 
    </div>
</header>
<div class="error">Sorry, but error...</div>
<div class="settings-block">
    <table class="settings-table">
        <tbody>
            <tr class="settings-table-item">
                <td class="settings-table-item-name">Login</td>
                <td class="settings-table-item-textfield">
                    <input class="form-control" type="text" placeholder="Login" aria-label="default input example">
                </td>
            </tr>
            <tr class="settings-table-item">
                <td class="settings-table-item-name">Password</td>
                <td class="settings-table-item-textfield">
                    <input type="password" class="form-control" id="inputPassword">
                </td>
            </tr>
            
            <tr class="settings-table-item">
                <td class="settings-table-item-name"></td>
                <td class="settings-table-item-textfield">
                    <button type="submit" class="btn btn-primary">Log In!</button>
                </td>
            </tr>
            <tr class="settings-table-item">
                <td class="settings-table-item-name"></td>
                <td class="settings-table-item-textfield">
                    <a href="{% url 'signup' %}">Create new account!</a>
                </td>
            </tr>
        </tbody>
    </table>    
</div>

{% endblock %}