{% extends 'layout/base.html' %}

{% block content %}

<header class="block-header">
    {% include 'components/question-item.html' %}
</header>
<div class="answer-list">
    {% for answer in answers %}

    {% include 'components/answer-item.html' %}

    {% endfor %}
</div>

<div class="your-answer-block">
    <div class="input-your-answer">
        <label for="exampleFormControlTextarea1">Your answer</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>

<div class="pagination">
    <div class="pagination-pages">
        <span class="active">
            <a>1</a>
        </span>
        <span>
            <a href="">2</a>
        </span>
        <span>
            <a href="">3</a>
        </span>
    </div>
</div>

{% endblock %}