{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

<header class="block-header">
    <div class="question-block-header">
        <div class="registration-header">
            <h2>Registration</h2>
        </div> 
    </div>
</header>
<div class="error">Sorry, but error...</div>
<div class="settings-block">
    <table class="settings-table">
        <tbody>
            <tr class="settings-table-item">
                <td class="settings-table-item-name">Login</td>
                <td class="settings-table-item-textfield">
                    <input class="form-control" type="text" placeholder="Login" aria-label="default input example">
                </td>
            </tr>
            <tr class="settings-table-item">
                <td class="settings-table-item-name">Email</td>
                <td class="settings-table-item-textfield">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </td>
            </tr>
            <tr class="settings-table-item">
                <td class="settings-table-item-name">NickName</td>
                <td class="settings-table-item-textfield">
                    <input class="form-control" type="text" placeholder="NickName" aria-label="default input example">
                </td>
            </tr>
            <tr class="settings-table-item">
                <td class="settings-table-item-name">Password</td>
                <td class="settings-table-item-textfield">
                    <input type="password" class="form-control" id="inputPassword">
                </td>
            </tr>
            <tr class="settings-table-item">
                <td class="settings-table-item-name">Upload avatar</td>
                <td class="settings-table-item-textfield">
                    <img alt="avatar" class="avatar">
                    <input class="form-control" type="file" id="formFile">
                </td>
            </tr>
            <tr class="settings-table-item">
                <td class="settings-table-item-name"></td>
                <td class="settings-table-item-textfield">
                    <button type="submit" class="btn btn-primary">Register!</button>
                </td>
            </tr>
        </tbody>
    </table>    
</div>

{% endblock %}