{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

    <header class="block-header">
        <div class="left-feed">
            <div class="tag-header">
                <h2>Tag:</h2>
            </div>
            <div class="tag-mean">
                <h2>{{tag.title}}</h2>
            </div>
        </div>
    </header>
    <div class="question-list">
        {% for question in objects %}
            {% include 'components/question-item.html' %}
        {% endfor %}
    </div>

    {% include 'components/paginator.html' %}
               
{% endblock %}