<div class="pagination" style="width: 100%;">
    <div class="pagination-pages">
        {% if objects.has_previous %}
            <span><a href="?page=1">&laquo; first</a></span>
            <span><a href="?page={{ objects.previous_page_number }}">previous</a></span>
        {% endif %}
        <span>
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>
        {% if objects.has_next %}
            <span>  <a href="?page={{ objects.next_page_number }}">next</a>  </span>
            <span>  <a href="?page={{ objects.paginator.num_pages }}">last &raquo;</a>  </span>
        {% endif %}
    </div>
</div>