<div class="block">
    <header class="block-header">
        <h2>Popular tags</h2>
    </header>
    <div class="ul-tags">
        <span class="tags"><a href="{% url 'tag' 1 %}">perl</a></span>
        <span class="tags"><a href="{% url 'tag' 2 %}">python</a></span>
        <span class="tags"><a href="{% url 'tag' 3 %}">technoPark</a></span>
        <span class="tags"><a href="{% url 'tag' 4 %}">MySQL</a></span>
        <span class="tags"><a href="{% url 'tag' 5 %}">django</a></span>
        <span class="tags"><a href="{% url 'tag' 6 %}">Mail.ru</a></span>
        <span class="tags"><a href="{% url 'tag' 7 %}">Voloshin</a></span>
        <span class="tags"><a href="{% url 'tag' 8 %}">FireFox</a></span>
        {% for tag in tags %}
    
        {% include 'components/tag-item.html' %}
    
        {% endfor %}
    </div>
</div>